[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
selenium = "*"
numpy = "*"
requests = "*"
tinydb = "*"
schedule = "*"

[dev-packages]
jupyter = "*"
pytest = "*"
pandas = "*"
tqdm = "*"
deep-translator = "*"
pretty-errors = "*"

[requires]
python_version = "3.9"
